.next-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px; /* Adjust as needed */
}

.next-button {
  background-color: #39FF14; 
  border: 2px solid black; 
  color: black; /* Set text color to black */
  padding: 3px 8px; /* Add padding */
  font-size: 25px; /* Set font size */
  cursor: pointer; /* Set cursor to pointer on hover */
  outline: none; /* Remove default focus outline */
  font-weight: bold;
  margin-top: 10px;
  margin-right: 10px;
  bottom: 0;
  position: fixed;
}

.error-flex {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  right: 1%;
  bottom: 0;
  z-index: 1;
}

.next-flex {
  text-align: right;
}

.error-message {
  color: red; /* Optionally, you can style the error message */
}