/* ImageSelection.css */
.image-selection {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; /* Adjust the gap as needed */
  justify-content: space-between; /* Adjust as needed */
}

.image-container {
  box-sizing: border-box; /* Ensures padding and border are included in the element's total width and height */
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto; /* Ensures the height adjusts based on the content */
}

.image {
  width: 100%;
  height: auto; /* Maintains the aspect ratio of the image */
  object-fit: cover; /* Ensures the image covers the container */
  display: block;
  padding: 0;
  margin: 0;
  border: 0; /* Removes any default border */
}