/* Instruction.css */

.instruction-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .instruction-box {
    background-color: #f0f0f0;
    border-radius: 20px;
    padding: 20px;
  }
  
  .instruction-text {
    font-size: 16px;
    font-weight: bold;
    color: #333;
  }
  