/* InstructionContainer.css */

.instruction-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center; /* Center-align items horizontally */
  position: absolute;
  top: 50%; /* Position the container at 50% from the top */
  left: 50%; /* Position the container at 50% from the left */
  transform: translate(-50%, -50%); /* Center the container */
}
