.money-selection-container {
    /* width: 20%; */
    /* display: flex;
    justify-content: center;
    align-items: center;
    align-content: center; */
    margin: 10px;
    /* grid-template-columns: repeat(var(--columns), auto); /* Dynamic columns */
    /* grid-template-rows: repeat(var(--rows), auto); /* Dynamic rows */
    /* gap: 0px; */
  }

  .selected-numbers {
    /* text-align: center; */
    font-size: 50px;
  }

  .underscores-money {
    margin-top: -50px;
    font-size: 100px;
  }

  .number-money {
    margin-right: -15px;
    margin-left: 60px;
  }

  /* .number-line { */
    /* display: flex;
    align-items: center; Align items vertically */
  /* } */