.money-selection-container {
  margin: 10px;
}

.selected-numbers {
  /* text-align: center; */
  font-size: 50px;
}

.underscores-money {
  margin-top: -50px;
  font-size: 100px;
}

.number-money {
  margin-right: -15px;
  margin-left: 20px;
  letter-spacing: 40px;
}