.next-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px; /* Adjust as needed */
}

.next-button {
  background-color: #39FF14; /* Set background color to green */
  border: 2px solid black; /* Set border to black with 2px width */
  color: black; /* Set text color to black */
  padding: 3px 8px; /* Add padding */
  font-size: 25px; /* Set font size */
  cursor: pointer; /* Set cursor to pointer on hover */
  outline: none; /* Remove default focus outline */
  font-weight: bold;
  position: fixed; /* Ensure the button is positioned relative to the viewport */
}

.right-position {
  justify-content: flex-end;
}

.left-position {
  justify-content: flex-start;
}

.error-message {
  color: red; /* Optionally, you can style the error message */
}
