  .number-selection-container {
    display: flex; /* Use flexbox */
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
    margin: 0 auto; /* Center container horizontally */
    background-color: green;
  }

  .selected-numbers {
    font-size: 50px;
    display: flex; /* Use flexbox */
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
    margin: 0 auto; /* Center container horizontally */
    background-color: red;
  }

  .underscores {
    margin-top: -100px;
    font-size: 100px;
    display: flex; /* Use flexbox */
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
    margin: 0 auto; /* Center container horizontally */
    background-color: blue;
  }

  .number {
    margin-right: 35px;
  }