.number-selection-container {
  margin: 0 auto;
  margin-top: 100px;
}

/* Hard-coded.... */
.number-line{
  margin-left: -250px;
}

.selected-numbers,
.underscores {
  position: absolute;
  display: flex;
  justify-content: center;
}

.selected-numbers {
  /* text-align: center; */
  font-size: 50px;
  margin-left: -12px;
}

.underscores {
  margin-top: -50px;
  font-size: 100px;
}

.number {
  margin-right: 25px;
  margin-left: 18px;
  padding: -100px;
}

.delete-button {
  background-color: white; /* Set background color to white */
  border: 2px solid black; /* Set border to black with 2px width */
  color: #000000; /* Set text color to black */
  font-size: 35px; /* Set font size */
  cursor: pointer; /* Set cursor to pointer on hover */
  outline: none; /* Remove default focus outline */
  font-weight: bold;
  border-radius: 10px;
  padding: 10px 70px;
}
