/* StroopTextBox.css */
.text-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 10px auto;
  background-color: white;
  width: 30%;
  height: 50%;
  padding: 3vw; /* Use viewport width for padding */
  font-size: 5vw; /* Use viewport width for font size */
  cursor: pointer;
  font-weight: bold;
  text-align: center;
  border-radius: 10px;
  box-sizing: border-box; /* Ensures padding is included in the element's total width and height */
}
