/* WordSelectionContainer.css */

.general-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px; /* Padding around the container */
}

.word-selection-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-gap: 10px; /* Gap between buttons */
  justify-content: center; /* Center buttons horizontally */
  align-items: center; /* Center buttons vertically */
  border-radius: 10px; /* Rounded corners for the container */
}
