/* WordSelectionButton.css */
.word-button {
  display: flex;
  justify-content: center; /* Center text horizontally */
  align-items: center; /* Center text vertically */
  justify-self: center;
  text-transform: uppercase;
  background-color: white;
  border: 5px solid black;
  color: #000000;
  font-size: 35px;
  cursor: pointer;
  outline: none;
  font-weight: bold;
  padding: 32px 120px;
}

.word-button.clicked,
.word-button.selected {
  background-color: #85c7ff; /* Change background color to blue for clicked or selected state */
}

.word-button:hover {
  background-color: #85c7ff; /* Change background color on hover */
}
