body {
    background-color: rgb(128, 128, 128);
    margin: 0; 
    padding: 0; 
    height: 100vh; 
  }
  
  .container {
    display: flex;
    justify-content: center; /* Align horizontally to the center */
    align-items: center; /* Align vertically to the center */
    height: 100vh;
  }

  .top-padding {
    padding-top: 100px;
  }