  body {
    background-color: rgb(128, 128, 128);
    margin: 0; 
    padding: 0; 
  }
  
  .container {
    display: flex;
    justify-content: center; /* Align horizontally to the center */
    align-items: center; /* Align vertically to the center */
    top: 50%;
  }

  .top-padding {
    padding-top: 15vh;
  }