/* InstructionContainer.css */

.instruction-container {
  display: grid; /* Use CSS Grid */
  grid-template-columns: 1fr; /* One column */
  justify-items: center; /* Center items horizontally */
  height: 10vh;
  gap: 40px; /* Add gap between grid items */
}

/* Add a class for styling individual instructions */
.instruction {
  grid-column: 1; /* Align to the first column */
}
