.end-message {
    background-color: white;
    border: 5px solid black;
    color: black;
    width: 80%;
    padding: 30px;
    font-size: 4vw;
    cursor: pointer;
    outline: none;
    font-weight: bold;
    text-align: center;
    border-radius: 60px;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
