  body {
    background-color: gray;
    margin: 0; 
    padding: 0; 
    height: 100vh; 
  }
  
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .container2 {
    display: flex;
    justify-content: center; /* Align horizontally to the center */
    align-items: center; /* Align vertically to the center */
    height: 100vh;
  }

  .start-button-container {
    position: absolute;
    left: 63%;
    top: 42%;
  }

  .start-button{
    background-color: white; /* Set background color to green */
    border: 2px solid black; 
    color: black; /* Set text color to black */
    padding: 20px 20px; /* Add padding */
    font-size: 40px; /* Set font size */
    cursor: pointer; /* Set cursor to pointer on hover */
    outline: none; /* Remove default focus outline */
    font-weight: bold;
    margin-top: 10px;
    margin-right: 10px;
    border-radius: 5px;
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-transform: uppercase;
    font-size: 35px;
    font-weight: bold;
    z-index: 1000;
    text-align: center; /* Center text horizontally */
    word-wrap: break-word; /* Ensure long words break and wrap to the next line */
  }